{% extends 'Offshore/base.html'%}
{% block title%}about{% endblock %}
{% load static %}
{% block maincontent %}

    <div style="background: url({% static "Offshore/images/banner/empty slide.png" %}); background-size: cover; height: 520px">
        <div style="padding-top: 120px; padding-left: 60px; width: 50%;">
            <h1 style="font-weight: bold; color: black; font-size: 35px; ">Revolutionize Your Driving Experience!</h1>

            <h6 style="margin-top: 15px; width: 85%; ">Unlock your journey with our exceptional range of vehicles! From stylish sedans to rugged SUVs, we offer quality cars tailored to your needs. Experience unparalleled service and unbeatable prices. Start your next adventure with us!</h6>
        </div>
        
    </div>

    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row-container">
            <p class="fs-5 text-center">Welcome to Offshore Rides where driving dreams come to life! We are a leading automotive company dedicated to providing our customers with exceptional vehicles that combine cutting-edge technology, superior performance, and unparalleled luxury. With a passion for innovation and a commitment to excellence, we strive to deliver an extraordinary driving experience that exceeds expectations. </p>
        </div>
        <br></br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row-container">
            <p class=" fs-5 text-center">Our extensive lineup features a diverse range of vehicles, from sleek sedans to powerful SUVs and eco-friendly hybrids, designed to cater to every driver's unique needs and preferences. At Offshore Rides, we believe in more than just selling cars; we believe in building lasting relationships with our customers. Our team of knowledgeable professionals is always ready to assist you in finding the perfect vehicle that suits your lifestyle and budget.</p>
        </div>
    </div>
    <br>
    <br>
{% endblock maincontent %}