{% extends 'Offshore/base.html'%}
{% block title%}about{% endblock %}
{% load static %}
{% block maincontent %}

    <div style="background: url({% static "Offshore/images/banner/empty slide.png" %}); background-size: cover; height: 520px">
        <div style="padding-top: 120px; padding-left: 60px; width: 50%;">
            <h1 style="font-weight: bold; color: black; font-size: 35px; ">Revolutionize Your Driving Experience!</h1>

            <h6 style="margin-top: 15px; width: 85%; ">Unlock your journey with our exceptional range of vehicles! From stylish sedans to rugged SUVs, we offer quality cars tailored to your needs. Experience unparalleled service and unbeatable prices. Start your next adventure with us!</h6>
        </div>
        
    </div>
    
{% endblock maincontent%}